html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

body{
    background: radial-gradient(circle at center, rgb(61, 60, 60), rgb(0, 0, 0));
}

#wrap {
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    -webkit-filter: url("#goo");
	filter: url("#goo");
}