@charset "utf-8";

/* =============================================================================
Reset style
========================================================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* =============================================================================
Basic style
========================================================================== */

/*
* body InitialStyle
*/
body {
  -webkit-text-size-adjust: none;
  background: #fff;
}

/*
* Wrapper InitialStyle
*/
#wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}

/*
* Inner InitialStyle
*/
.inner {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/* =============================================================================
Image
========================================================================== */

img {
  vertical-align: bottom;
  max-width: 100%;
}

/* Image center */
.img-center {
  display: block;
  margin: 0 auto;
}

/* =============================================================================
Common Style
========================================================================== */

table {
  font-size: inherit;
  font: 100%;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 100%;
  font: 115% monospace;
  line-height: 150%;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

ul,
li {
  list-style: none;
}

input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

button {
  background-color: white;
  border: none;
  padding: 0;
}

/*
* box-sizing
*/
div,
p,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
table,
tr,
th,
td,
article,
aside,
header,
footer,
section,
nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* =============================================================================
Typography
========================================================================== */

body {
  color: #333;
  letter-spacing: 0px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "メイリオ", Meiryo, "MS P Gothic", "ＭＳ Ｐゴシック", Osaka, Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.4;
  text-align: left;
}

dt,
dd {
  line-height: 1.6;
}

.gothic {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "メイリオ", Meiryo, "MS P Gothic", "ＭＳ Ｐゴシック",
    sans-serif;
}

.minchou {
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.yumin {
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "MS Mincho",
    "HiraMinProN-W3", serif;
}

.yugo {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic";
}

.din {
  font-family: "DIN Alternate", Arial, Helvetica, sans-serif;
}

.century {
  font-family: "Century Gothic", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  　tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

button {
  background-color: white;
  border: none;
  padding: 0;
}
